:root {
    --font-size: 14px;
    --theme-bg: rgb(224, 224, 224);
    --theme-bg2: rgb(255, 255, 255);
    --theme-translucent: rgb(224, 224, 224, 0.6);
    --theme-translucent-reverse: rgb(30, 32, 32, 0.6);
    --theme-bg-reverse: rgb(30, 32, 32);
    --text-color: rgb(30, 32, 32);
    --text-color-reverse: rgb(255, 255, 255);
    --text-color2: rgb(87, 96, 111);

    /*.wares style*/
    --parallax-1: rgba(224, 224, 224, 0.7);
    --parallax-2: rgba(224, 224, 224, 0.5);
    --parallax-3: rgba(224, 224, 224, 0.3);
    --parallax-4: rgba(224, 224, 224, 1);

    --theme-shadow: 3px 3px 7px #c5c5c5,
    -3px -3px 8px #ffffff;

    --theme-shadow-inset: 2px 2px 6px #c5c5c5 inset,
    -3px -3px 8px #ffffff inset;
}