<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apecode.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.apecode.entity.Category">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <resultMap id="CategoryBackDto" type="cn.apecode.dto.CategoryBackDto">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <result column="articleCount" property="articleCount" />
    </resultMap>

    <resultMap id="CategoryArticleCountResult" type="cn.apecode.dto.CategoryArticleCountDto">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="articleCount" property="articleCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, createTime, updateTime
    </sql>
    <!-- 分页查询分类列表 -->
    <select id="listCategoryBack" resultMap="CategoryBackDto">
        select c.id,
               c.name,
               c.createTime,
               c.updateTime,
               count(a.id) as articleCount
        from t_category c
                 left join t_article a on c.id = a.categoryId
        <if test="condition.keywords != null">
            where c.name like concat('%', #{condition.keywords}, '%')
        </if>
        group by c.id
        order by c.id desc
        limit #{current}, #{size};
    </select>

    <!-- 获取分类列表 -->
    <select id="listCategoryFront" resultMap="CategoryArticleCountResult">
        select c.id,
               c.name,
               c.createTime,
               c.updateTime,
               count(a.id) as articleCount
        from t_category c
                 left join (select id, categoryId from t_article where isDelete = 0 and `status` = 1) a on c.id = a.categoryId
        group by c.id
        order by c.id desc;
    </select>

    <!-- 获取后台首页分类列表 -->
    <select id="listCategoryHome" resultMap="CategoryArticleCountResult">
        select
            c.name,
           count(a.id) as articleCount
        from t_category c
                 left join t_article a on c.id = a.categoryId
        group by c.id
    </select>

</mapper>
