<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apecode.mapper.LoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.apecode.entity.LoginLog">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="loginType" property="loginType" />
        <result column="ipAddress" property="ipAddress" />
        <result column="ipSource" property="ipSource" />
        <result column="rectangle" property="rectangle" />
        <result column="browser" property="browser" />
        <result column="os" property="os" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <resultMap id="LoginLogBackResult" type="cn.apecode.dto.LoginLogBackDto" >
        <id column="id" property="id" />
        <result column="loginType" property="loginType" />
        <result column="ipAddress" property="ipAddress" />
        <result column="ipSource" property="ipSource" />
        <result column="rectangle" property="rectangle" />
        <result column="browser" property="browser" />
        <result column="os" property="os" />
        <result column="createTime" property="createTime" />
        <collection property="user" ofType="cn.apecode.dto.SimpleUserInfoDto" >
            <result column="uid" property="uid" />
            <result column="nickname" property="nickname" />
            <result column="avatar" property="avatar" />
            <result column="intro" property="intro" />
            <result column="webSite" property="webSite" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, loginType, ipAddress, ipSource, rectangle, browser, os, createTime, updateTime
    </sql>

    <!-- 获取登录日志 -->
    <select id="listLoginLog" resultMap="LoginLogBackResult">
        SELECT t_login_log.id,
               t_login_log.loginType,
               t_login_log.ipAddress,
               t_login_log.ipSource,
               t_login_log.rectangle,
               t_login_log.browser,
               t_login_log.os,
               t_login_log.createTime,
               tui.nickname,
               tui.uid,
               tui.avatar,
               tui.intro,
               tui.webSite
        FROM t_login_log
                 LEFT JOIN t_user_info tui on tui.id = t_login_log.userId
        ORDER BY id DESC
        LIMIT #{current},#{size};
    </select>

</mapper>
