<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apecode.mapper.PictureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.apecode.entity.Picture">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="albumId" property="albumId" />
        <result column="pictureName" property="pictureName" />
        <result column="pictureSrc" property="pictureSrc" />
        <result column="width" property="width" />
        <result column="height" property="height" />
        <result column="size" property="size" />
        <result column="isDelete" property="isDelete" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <resultMap id="PictureBackDto" type="cn.apecode.dto.PictureBackDto">
        <id column="id" property="id" />
        <result column="pictureName" property="pictureName" />
        <result column="pictureSrc" property="pictureSrc" />
        <result column="width" property="width" />
        <result column="height" property="height" />
        <result column="size" property="size" />
        <result column="isDelete" property="isDelete" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
        <collection property="user" ofType="cn.apecode.dto.SimpleUserInfoDto">
            <result column="uid" property="uid"/>
            <result column="nickname" property="nickname"/>
            <result column="avatar" property="avatar"/>
            <result column="intro" property="intro" />
            <result column="webSite" property="webSite" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, albumId, pictureName, pictureDesc, pictureSrc, width, height, size, isDelete, createTime, updateTime
    </sql>
    <!-- 根据相册id获取图片列表 -->
    <select id="listPictureByPhotoAlbumId" resultMap="PictureBackDto">
        select tp.id,
               tp.pictureName,
               tp.pictureSrc,
               tp.createTime,
               tp.updateTime,
               tp.isDelete,
               tp.width,
               tp.height,
               tp.size,
               tui.uid,
               tui.nickname,
               tui.avatar,
               tui.intro,
               tui.webSite
        from (select id, userId, pictureName, pictureSrc, width, height, size, isDelete, createTime, updateTime
              from t_picture
              where isDelete = 0
                    and albumId = #{albumId}) tp
                 left join t_user_info tui on tp.userId = tui.id
        order by tp.updateTime desc
    </select>
    <!-- 获取回收站图片 -->
    <select id="listDeletePicture" resultMap="PictureBackDto">
        select tp.id,
               tp.albumId,
               pictureName,
               pictureSrc,
               width,
               height,
               size,
               isDelete,
               tp.createTime,
               tp.updateTime,
               tui.uid,
               tui.nickname,
               tui.avatar,
               tui.intro,
               tui.webSite
        from t_picture tp
                 left join t_user_info tui on tui.id = tp.userId
        where tp.isDelete = 1
    </select>
    <!-- 批量通过相册id获取图片 -->
    <select id="selectBatchAlbumIds" resultType="cn.apecode.entity.Picture">
        SELECT * FROM t_picture
        <where>
            <foreach collection="albumIds" item="albumId" open="AND albumId IN (" separator="," close=")">
                #{albumId}
            </foreach>
        </where>
        GROUP BY albumId;
    </select>

</mapper>
