<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apecode.blog.mapper.DailyVisitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.apecode.blog.entity.DailyVisit">
        <id column="id" property="id" />
        <result column="viewsCount" property="viewsCount" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, viewsCount, createTime, updateTime
    </sql>
    <!-- 用户几天访问量统计列表 -->
    <select id="listAFewDaysVisit" resultType="cn.apecode.blog.dto.VisitStatisticsDto">
        SELECT viewsCount,
               DATE_FORMAT(createTime, '%Y-%m-%d') AS date
        FROM t_daily_visit
        ORDER BY createTime DESC, id DESC
        LIMIT 0, #{day};
    </select>

</mapper>
