<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apecode.blog.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.apecode.blog.entity.Notice">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="url" property="url" />
        <result column="status" property="status" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <resultMap id="NoticeBackResult" type="cn.apecode.blog.dto.NoticeBackDto">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="url" property="url" />
        <result column="status" property="status" />
        <result column="createTime" property="createTime" />
        <collection property="user" ofType="cn.apecode.blog.dto.SimpleUserInfoDto" >
            <result column="uid" property="uid" />
            <result column="nickname" property="nickname" />
            <result column="avatar" property="avatar" />
            <result column="intro" property="intro" />
            <result column="webSite" property="webSite" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, title, content, url, status, createTime, updateTime
    </sql>

    <!-- 获取用户通知列表 -->
    <select id="listNotice" resultType="cn.apecode.blog.dto.NoticeFrontDto">
        SELECT id,
               title,
               content,
               url,
               status,
               createTime
        FROM t_notice
        WHERE status = #{isRead}
            AND userId = #{userId}
        ORDER BY updateTime DESC
    </select>

    <!-- 查询通知页数 -->
    <select id="noticeCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_notice
            LEFT JOIN t_user_info tui on tui.id = t_notice.userId
        WHERE status = #{isRead}
            <if test="isSystemNotice" >
                AND userId IS NULL
            </if>
            <if test="!isSystemNotice" >
                AND userId IS NOT NULL
            </if>
            <if test="nickname != null" >
                AND nickname LIKE CONCAT('%', #{nickname}, '%')
            </if>;
    </select>

    <!-- 获取后台通知列表 -->
    <select id="listNoticeBack" resultMap="NoticeBackResult">
        SELECT t_notice.id,
               t_notice.title,
               t_notice.content,
               t_notice.url,
               t_notice.status,
               t_notice.createTime,
               tui.nickname,
               tui.uid,
               tui.avatar,
               tui.intro,
               tui.webSite
        FROM t_notice
                 LEFT JOIN t_user_info tui on tui.id = t_notice.userId
        WHERE status = #{isRead}
            <if test="isSystemNotice" >
                AND userId IS NULL
            </if>
            <if test="!isSystemNotice" >
                AND userId IS NOT NULL
            </if>
            <if test="nickname != null" >
                AND nickname LIKE CONCAT('%', #{nickname}, '%')
            </if>
        ORDER BY t_notice.updateTime DESC
        LIMIT #{current}, #{size};
    </select>

</mapper>
