<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apecode.blog.mapper.TalkPictureVideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.apecode.blog.entity.TalkPictureVideo">
        <id column="id" property="id" />
        <result column="talkId" property="talkId" />
        <result column="src" property="src" />
        <result column="fileName" property="fileName" />
        <result column="orderNum" property="orderNum" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, talkId, src, fileName, orderNum, createTime, updateTime
    </sql>

</mapper>
